<!DOCTYPE html>
<html lang="en">
<% include ../views/partials/_head %>
<body>

  <div class="container">
  <header>
        <% include partials/_header %>
  </header>
  <h3>URL Database</h3>

      <form action="/u" method="POST" >
        <label for="longURL">Enter a URL:</label>
        <input type="text" name="longURL" placeholder="http://" style="width: 300px">
        <input type="submit" value="Submit">
      </form>
      <ul>
        <% for(let key in urls){ %>
          <li><%= key %> -> <a href="/u/<%= key %>"><%= urls[key] %></a>
            <form action="/urls/<%= key %>/" method="POST">
              <button>Edit</button>
            </form>
          </li>
        <% }; %>
      </ul>
    </div>
</body>
</html>
